/.git
/.idea
/node_modules
/vendor
.env
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
/public/mix-manifest.json
/public/css/
/public/js/
/database/database.sqlite
.dockerignore
Dockerfile
/bootstrap/cache/*
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
